{% extends 'covidapp/base.html' %}

{% block title %}Create Account{% endblock %}

{% block content %}
<h1>Create Account</h1>
<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>

    <label for="message">Message:</label>
    <textarea name="message" id="message" rows="4"></textarea>

    <button type="submit">Create Account</button>
</form>
{% endblock %}
